.container,
.containerMobile {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

  
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.necas{
  width: 30vw;
}

.containerMobile {
  font-size: 76px;
  align-items: flex-start;
  gap: 8px;
  padding-left: 8px;
  line-height: 76px;
}


.right{
  min-height: 110vh;
  margin-left: 50vw;
  width: 50vw;
  background-color: rgb(208, 208, 176);
}


@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .necas{
    padding-left: 20px;
    padding-top: 30px;
    width: 60vw;
  }
  
}