.link,
.linkMobile {
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
  color: white;
}

.linkActive {
  width: fit-content;
  background: var(--black);
  color: var(--white);
}


.containerMobile {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0%;
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}